:root {
  --color-primary: #00acee;
  --color-primary-light: #4dc4f3;
  --color-primary-dark: #002952;
  --color-secondary-dark: #050505;

  --color-secondary: #272d41;

  --black: #333;
  --white: #efefef;

  --space-xxl: 96px;
  --space-xl: 72px;
  --space-lg: 64px;
  --space-l: 52px;
  --space-md: 32px;
  --space-sm: 24px;
  --space-xm: 10px;

  --border-sm: 10px;
  --border-md: 15px;
  --border-lg: 10px;
  --border-xl: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  /* background-image: radial-gradient(circle, #e6e6e6 2px, transparent 2px);
  background-size: 20px 20px; */
  background-color: #fbf8fb;
  color: var(--color-primary-dark);

  position: relative;
}

a {
  text-decoration: none;
  transition: all 0.3s;
  font-weight: 500;
}

a:link,
a:visited {
  color: var(--color-secondary-dark);
}
a:active,
a:hover {
  color: var(--color-secondary);
  font-weight: bold;
}

a.btn-filled,
a.btn-stroke {
  padding: var(--space-xm);
  border: 1px solid current;
  transition: all 0.3s;
}
a.btn-filled:link,
a.btn-filled:visited {
  background-color: var(--color-primary);
  color: #efefef;
}

a.btn-filled:hover,
a.btn-filled:active {
  background-color: var(--color-primary-light);
}

a.btn-stroke:link,
a.btn-stroke:visited {
  border: 1px solid var(--color-secondary);
}

.header {
  display: flex;

  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--space-xm) var(--space-xxl);

}
h2 .highlight{
  color: var(--color-primary);
}

.logo img {
  width: 200px;
}

header nav.menu {
  display: flex;
  align-items: center;
  gap: 30px;
}


header nav.menu a.active{
  font-weight: 600;
  color: var(--color-primary);
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: var(--color-primary);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: var(--space-sm) var(--space-xm);
}

.socials a img {
  width: 25px;
}

.main-view {
  height: 90vh;
  overflow: hidden;

  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  display: block;
}

.page {
  height: 100vh;
  scroll-snap-align: start;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 0 var(--space-xxl);
  transition: all 0.7s ease;
  opacity: 0;
  transform: translateY(100px) scale(0.95);
  filter: blur(5px);
}

.page.active {
  opacity: 1;
  transform: translateY(0) scale(1);
  filter: blur(0);
}



.description-container {
  display: flex;
  justify-content: center;

  flex-direction: column;
  gap: 10px;
}

.description-container .primary-heading {
  font-size: var(--space-l);
}

.description-container h3 {
  font-weight: 500;
  font-size: var(--space-sm);
}

/* .description-container h2 span {
  color: var(--color-primary);
} */

.cta-container {
  display: flex;
  gap: 10px;
}

.cta-container a {
  margin-top: 20px;
}

a.btn-stroke:hover,
a.btn-stroke:active {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: #efefef;
}

section.owner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.character {
  position: absolute;
  z-index: 9;
  width: 250px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.character img {
  width: 198px;
}

.eyes {
  position: absolute;
  height: 12px;
  width: 40px;
  display: flex;
  justify-content: space-between;
  top: 20%;
}

.eye {
  border-radius: 8px;
  width: 9px;
  height: 12px;
  background-color: white;
  overflow: hidden;
  box-shadow: inset 0 1px 1px 0px black;
}

.pupil {
  width: 9px;
  height: 9px;
  background: black;
  border-radius: 50%;
}

.circular-shape {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;

  border: 2px dashed var(--color-secondary);
}

.circular-shape::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  z-index: 6;
  background-color: var(--color-secondary-dark);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 0px 30px var(--color-primary);
}

.technology {
  position: absolute;
  /* background-color: var(--color-secondary-dark); */
  background-color: black;

  color: white;
  /* padding: var(--space-xm) var(--space-sm); */
  padding: 5px 10px;
  border-radius: var(--border-md);

  display: flex;
  gap: 5px;

  cursor: pointer;
  transition: all 0.3s;
}

.technology img {
  width: 20px;
  align-items: center;
}

.technology:hover {
  box-shadow: 0 2px 20px 0px var(--color-secondary-dark);
  font-weight: bold;
}

.technology.t1 {
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.technology.t2 {
  top: 50px;
  left: 0px;
  rotate: -50deg;
}

.technology.t3 {
  top: 50%;
  left: -30px;
  rotate: -90deg;
  transform: translateY(-50%);
}

.technology.t4 {
  bottom: 30px;
  left: 20px;
  rotate: 40deg;
}

.technology.t5 {
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.technology.t6 {
  top: 50px;
  right: 0px;
  rotate: 45deg;
}
.technology.t7 {
  top: 50%;
  right: -45px;
  rotate: 92deg;
  transform: translateY(-50%);
}
.technology.t8 {
  bottom: 30px;
  right: 20px;
  rotate: -40deg;
}



#about .owner-container img, #skills .owner-container img{
  width: 70%;
}